[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"


[dev-packages]



[requires]

python_version = "3.6"
